{% extends 'base.html' %}

{% block header %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <h1>{% block title %}Predict Page{% endblock %}</h1>
    <a href="/" style="padding: 20px">Start Page</a>
    <a href="../train/" style="padding: 20px">Train Page</a>
{% endblock %}

{% block content %}
    <center>
        {% if res_is_ready %}
            <h2>Your beautiful image!!!</h2>
            <img src="{{ url_for('static', path=result_path) }}"/>
        {% elif process %}
            <h2>Generate image, please wait...</h2>
            <meta http-equiv="refresh" content="1">
        {% else %}
            <h2>Model ready to generate something</h2>
        {% endif %}

        <form method="post">
            <div class="bottomwhitespace centre">
                <div class="btn-group">
                    {% if not process %}
                        <input type="submit" value="Generate" class="button" name="predict">
                    {% endif %}
                    {% if res_is_ready %}
                        <a href="{{ url_for('static', path=result_path) }}" download class="button">Download Image</a>
                        <input type="submit" value="Clear" class="button" name="clear">
                    {% endif %}
                </div>
            </div>

            {% if not process %}
                <br><br>
                <span>
                    <label for="label_gen" class="small-lbl">Label to generate: </label>
                    <input name="label_gen" id="label_gen" maxlength="2" class="small-lbl" required>
                </span>
            {% endif %}
        </form>
    </center>
    <script>
        //let l_gen = document.getElementById('label_gen');
        //if (l_gen !== null){
        // Block button div, if entered value is invalid
        // Add error message element after input.
        $('#label_gen').after('<span class="error-message"> Please enter numbers only!</span>')

        $('#label_gen').on('input', function (evt) {
          var value = evt.target.value

          if (value.length === 0) {
            evt.target.className = ''
            return
          }

          if ($.isNumeric(value)) {
            evt.target.className = 'valid'
          } else {
            evt.target.className = 'invalid'
          }
        })
        //}
    </script>
{% endblock %}
